Repository aquarist-labs/ceph, pull requests merged in 2022-10, with the labels that each got.

#45 ci: run s3gw-test image on pull requests
  .github/workflows/build-radosgw.yml
  .github/workflows/test-radosgw.yml
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, enhancement, rgw, CI

#48 rgw/sfs: Lists only the buckets owned by the user.
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/rgw_sfs_utils.h
  src/test/rgw/sfs/test_rgw_sfs_sfs_user.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
Labels: kind/bug, rgw, build/ops, tests

#49 rgw/sfs: Get user by access_key when user has multiple keys
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/sqlite/sqlite_users.h
  src/rgw/store/sfs/sqlite/users/users_conversions.cc
  src/rgw/store/sfs/sqlite/users/users_definitions.h
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
Labels: kind/bug, rgw, tests, documentation

#50 rgw/sfs: fix circular lock dependency
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/types.h
Labels: kind/bug, rgw, documentation

#51 rgw/sfs: ensure sqlite user ops hold required locks
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/sqlite/sqlite_users.h
Labels: kind/bug, rgw, documentation

#52 Updated CHANGELOG.md with 0.7.0 release label
  src/rgw/store/sfs/CHANGELOG.md
Labels: kind/documentation

#54 Revert "Merge pull request #52 from 0xavi0/changelog-0.7.0"
  src/rgw/store/sfs/CHANGELOG.md
Labels: rgw, documentation

#53 rgw/build: Add FMT_DEPRECATED_OSTREAM flag to avoid compilation issues
  CMakeLists.txt
Labels: build/ops

#57 Update release date for 0.7.0
  src/rgw/store/sfs/CHANGELOG.md
Labels: kind/documentation, rgw, documentation

#60 rgw/sfs: Fix s3tests_boto3.functional.test_s3.test_post_object_* bug
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/writer.cc
Labels: kind/bug, rgw, documentation

#58 rgw/sfs: make SFSBucket::update_container_stats return 0
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
Labels: rgw, documentation
