Repository aquarist-labs/ceph, pull requests merged in 2022-12, with the labels that each got.

#72 rgw/sfs: bump version 0.9.0
  src/rgw/store/sfs/CHANGELOG.md
Labels: rgw, documentation

#73 Merge w s3gw v0.9.0
  src/rgw/store/sfs/CHANGELOG.md
Labels: rgw, documentation

#68 ci: build and test rgw without depending on the s3gw-tools repo
  .github/workflows/build-radosgw.yml
  .github/workflows/build-test-radosgw.yml
  .github/workflows/test-radosgw.yml
  qa/rgw/store/sfs/build-radosgw.sh
  qa/rgw/store/sfs/tests/awsauth.py
  qa/rgw/store/sfs/tests/regression-tests/s3tests.conf
  qa/rgw/store/sfs/tests/regression-tests/test_cases.txt
  qa/rgw/store/sfs/tests/requirements-dev.txt
  qa/rgw/store/sfs/tests/requirements.txt
  qa/rgw/store/sfs/tests/run-tests.sh
  qa/rgw/store/sfs/tests/sfs-bench.sh
  qa/rgw/store/sfs/tests/sfs-s3tests.sh
  qa/rgw/store/sfs/tests/sfs-smoke-test.sh
  qa/rgw/store/sfs/tests/test-sfs-buckets-rest-api.py
  qa/rgw/store/sfs/tests/test-sfs-multipart.py
  qa/rgw/store/sfs/tests/test-sfs-users-rest-api.py
  qa/rgw/store/sfs/tests/test-sfs-versioning-smoke.py
Labels: CI

#76 rgw/sfs: simplify SFSGC initialization/lifetime
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/sfs_gc.cc
  src/rgw/store/sfs/sfs_gc.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
Labels: rgw, tests

#77 tests/sfs: address several smoke test failures
  qa/rgw/store/sfs/tests/disable_test-sfs-buckets-rest-api.py
  qa/rgw/store/sfs/tests/test-sfs-multipart.py
Labels: kind/bug, tests

#79 ci: Don't run sfs unit tests in the background
  .github/workflows/build-test-radosgw.yml
Labels: CI
