Repository aquarist-labs/ceph, pull requests merged in 2022-06, with the labels that each got.

#9 rgw/dbstore: Add more environment variables
  src/rgw/rgw_sal.cc
Labels: enhancement, rgw

#7 rgw/dbstore: Add basic user list to dbstore
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_user.cc
  src/rgw/rgw_user.h
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
  src/rgw/store/dbstore/sqlite/sqliteDB.cc
  src/rgw/store/dbstore/sqlite/sqliteDB.h
Labels: rgw

#8 rgw/simplefile: file based backend for rgw
  CMakeLists.txt
  src/common/options/rgw.yaml.in
  src/include/config-h.in.cmake
  src/rgw/CMakeLists.txt
  src/rgw/rgw_main.cc
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal_simplefile.cc
  src/rgw/rgw_sal_simplefile.h
  src/rgw/store/simplefile/bucket.cc
  src/rgw/store/simplefile/bucket.h
  src/rgw/store/simplefile/bucket_mgr.cc
  src/rgw/store/simplefile/bucket_mgr.h
  src/rgw/store/simplefile/multipart.cc
  src/rgw/store/simplefile/multipart.h
  src/rgw/store/simplefile/notification.h
  src/rgw/store/simplefile/object.cc
  src/rgw/store/simplefile/object.h
  src/rgw/store/simplefile/sfs_bucket.cc
  src/rgw/store/simplefile/sfs_user.cc
  src/rgw/store/simplefile/user.cc
  src/rgw/store/simplefile/user.h
  src/rgw/store/simplefile/writer.cc
  src/rgw/store/simplefile/writer.h
  src/rgw/store/simplefile/zone.cc
  src/rgw/store/simplefile/zone.h
Labels: rgw, build/ops, common

#11 ci: build and test workflow
  .github/workflows/build-radosgw.yml
  .github/workflows/test-radosgw.yml
Labels: CI
