Repository aquarist-labs/ceph, pull requests merged in 2022-08, with the labels that each got.

#19 rgw/sfs: mark v0.2.0 on changelog
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw

#17 rgw/sfs: introduce new on-disk layout
  src/rgw/CMakeLists.txt
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/bucket_mgr.cc
  src/rgw/store/sfs/bucket_mgr.h
  src/rgw/store/sfs/multipart.cc
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/rgw/store/sfs/user.h
  src/rgw/store/sfs/uuid_path.h
  src/rgw/store/sfs/writer.cc
  src/rgw/store/sfs/writer.h
Labels: rgw, build/ops

#18 rgw/sfs: Add sqlite schema for sfs metadata
  src/rgw/CMakeLists.txt
  src/rgw/rgw_sal_sfs.cc
  src/rgw/store/sfs/object_state.h
  src/rgw/store/sfs/sfs_user.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.h
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/conversion_utils.h
  src/rgw/store/sfs/sqlite/objects/object_conversions.cc
  src/rgw/store/sfs/sqlite/objects/object_conversions.h
  src/rgw/store/sfs/sqlite/objects/object_definitions.h
  src/rgw/store/sfs/sqlite/sqlite_buckets.cc
  src/rgw/store/sfs/sqlite/sqlite_buckets.h
  src/rgw/store/sfs/sqlite/sqlite_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_objects.h
  src/rgw/store/sfs/sqlite/sqlite_schema.cc
  src/rgw/store/sfs/sqlite/sqlite_schema.h
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/sqlite/sqlite_users.h
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/store/sfs/sqlite/users/users_conversions.cc
  src/rgw/store/sfs/sqlite/users/users_conversions.h
  src/rgw/store/sfs/sqlite/users/users_definitions.h
  src/rgw/store/sfs/sqlite/users_conversions.cc
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_conversions.cc
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_conversions.h
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: rgw, build/ops, tests

#20 rgw/sfs: use sqlite for metadata, filesystem for data
  src/rgw/CMakeLists.txt
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/sfs_user.cc
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/sqlite/sqlite_buckets.cc
  src/rgw/store/sfs/sqlite/sqlite_buckets.h
  src/rgw/store/sfs/sqlite/sqlite_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_objects.h
  src/rgw/store/sfs/sqlite/sqlite_schema.cc
  src/rgw/store/sfs/sqlite/sqlite_schema.h
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/sqlite/sqlite_users.h
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/rgw/store/sfs/uuid_path.h
  src/rgw/store/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: documentation, rgw, build/ops, tests

#22 rgw/sfs: drop unused code
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
Labels: documentation, rgw

#21 rgw/sfs: basic object copy capabilities
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
Labels: documentation, rgw

#24 rgw/sfs: Set the type of the default user to TYPE_RGW.
  src/rgw/rgw_sal.cc
Labels: rgw

#25 rgw/sfs: Fixed bucket creation time always set at now() for SFS backend
  .github/workflows/test-radosgw.yml
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/types.h
Labels: rgw, CI

#28 rgw: fix user create error during init
  src/rgw/rgw_sal.cc
Labels: rgw

#27 rgw/sfs: filled bucket create json-response for system users
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
Labels: bug, rgw

#29 rgw/sfs: SFSUser::read_stats() not returning error
  src/rgw/store/sfs/user.cc
Labels: bug, rgw
