Repository aquarist-labs/ceph, pull requests merged in 2022-09, with the labels that each got.

#30 rgw/sfs: update changelog with recent bugfixes
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw

#26 rgw/sfs: Add object versioning.
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/sqlite/objects/object_conversions.cc
  src/rgw/store/sfs/sqlite/objects/object_definitions.h
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_conversions.cc
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/writer.cc
  src/rgw/store/sfs/writer.h
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: documentation, rgw, tests

#31 rgw/sfs: update CHANGELOG.md
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw

#33 rgw/sfs: fix bucket info rest call
  src/rgw/store/sfs/bucket.cc
Labels: rgw

#35 rgw/sfs: updated CHANGELOG.md
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw

#34 rgw/sfs: reorganized cmake build for sfs backend
  src/rgw/CMakeLists.txt
  src/rgw/store/sfs/CMakeLists.txt
Labels: rgw, build/ops

#32 rgw/sfs: added fields in sqlite buckets table
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
Labels: documentation, rgw, tests

#38 rgw/sfs: undelete objects implementation.
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
Labels: documentation, rgw

#39 rgw/sfs: add ability to list buckets via meta_list_*() functions
  src/rgw/rgw_sal_sfs.cc
  src/rgw/store/sfs/CHANGELOG.md
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
Labels: documentation, rgw, tests

#42 rgw/sfs: bump changelog version
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw

#43 rgw/sfs : Remove bucket
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
Labels: documentation, rgw, tests

#41 rgw/sfs: ACL implementation
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
Labels: documentation, rgw, build/ops, tests

#40 rgw/sfs: multipart
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/multipart.cc
  src/rgw/store/sfs/multipart.h
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_conversions.cc
  src/rgw/store/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/writer.cc
  src/rgw/store/sfs/writer.h
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: documentation, rgw, tests

#44 rgw/sfs: Store objects by bucket id.
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/store/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/store/sfs/sqlite/dbconn.h
  src/rgw/store/sfs/sqlite/objects/object_conversions.cc
  src/rgw/store/sfs/sqlite/objects/object_definitions.h
  src/rgw/store/sfs/sqlite/sqlite_buckets.cc
  src/rgw/store/sfs/sqlite/sqlite_buckets.h
  src/rgw/store/sfs/sqlite/sqlite_objects.cc
  src/rgw/store/sfs/sqlite/sqlite_objects.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_objects.cc
Labels: documentation, rgw, tests

#47 rgw/sfs: Fix versioned object tests.
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: bug, rgw, tests
