Repository aquarist-labs/ceph, pull requests merged in 2022-11, with the labels that each got.

#59 rgw/sfs: Detect metadata compatibility issues.
  src/rgw/rgw_sal.cc
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/CMakeLists.txt
  src/rgw/store/sfs/sqlite/dbconn.cc
  src/rgw/store/sfs/sqlite/dbconn.h
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/compatibility_test_cases/columns_added.h
  src/test/rgw/sfs/compatibility_test_cases/columns_deleted.h
  src/test/rgw/sfs/compatibility_test_cases/optional_columns_added.h
  src/test/rgw/sfs/test_rgw_sfs_metadata_compatibility.cc
Labels: kind/bug, rgw, build/ops, tests, documentation

#61 rgw/sfs: Generate delete markers for non existing objects
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
Labels: kind/bug, rgw, documentation

#56 rgw/sfs: Initial Garbage collector thread.
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/CMakeLists.txt
  src/rgw/store/sfs/sfs_gc.cc
  src/rgw/store/sfs/sfs_gc.h
  src/rgw/store/sfs/sqlite/sqlite_buckets.cc
  src/rgw/store/sfs/sqlite/sqlite_buckets.h
  src/rgw/store/sfs/types.cc
  src/rgw/store/sfs/types.h
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
Labels: rgw, build/ops, tests, documentation

#63 Update changelog for v0.8.0.
  src/rgw/store/sfs/CHANGELOG.md
Labels: kind/documentation, rgw, documentation

#64 Merge `v0.8.x` branch into `main`.
  src/rgw/store/sfs/CHANGELOG.md
Labels: rgw, documentation

#67 ci: add new sfs unit tests and fixes GC test
  .github/workflows/build-radosgw.yml
  src/rgw/store/sfs/CHANGELOG.md
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
Labels: kind/bug, rgw, tests, CI, documentation

#66 rgw: add multivalue support to rgw_dns_name config option
  doc/radosgw/s3/commons.rst
  src/common/options/rgw.yaml.in
  src/rgw/rgw_rest.cc
Labels: rgw, common, documentation
