Repository aquarist-labs/ceph, pull requests merged in 2022-07, with the labels that each got.

#13 rgw/sfs: rename simplefile to sfs
  .github/workflows/test-radosgw.yml
  CMakeLists.txt
  src/common/options/rgw.yaml.in
  src/include/config-h.in.cmake
  src/rgw/CMakeLists.txt
  src/rgw/rgw_main.cc
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/bucket_mgr.cc
  src/rgw/store/sfs/bucket_mgr.h
  src/rgw/store/sfs/multipart.cc
  src/rgw/store/sfs/multipart.h
  src/rgw/store/sfs/notification.h
  src/rgw/store/sfs/object.cc
  src/rgw/store/sfs/object.h
  src/rgw/store/sfs/sfs_bucket.cc
  src/rgw/store/sfs/sfs_user.cc
  src/rgw/store/sfs/sqlite/sqlite_orm.h
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/sqlite/sqlite_users.h
  src/rgw/store/sfs/sqlite/users_conversions.cc
  src/rgw/store/sfs/sqlite/users_conversions.h
  src/rgw/store/sfs/sqlite/users_definitions.h
  src/rgw/store/sfs/user.cc
  src/rgw/store/sfs/user.h
  src/rgw/store/sfs/writer.cc
  src/rgw/store/sfs/writer.h
  src/rgw/store/sfs/zone.cc
  src/rgw/store/sfs/zone.h
  src/rgw/store/simplefile/sfs_user.cc
  src/rgw/store/simplefile/sqlite/sqlite_orm.h
  src/rgw/store/simplefile/sqlite/users_conversions.h
  src/test/rgw/CMakeLists.txt
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
  src/test/rgw/simplefile/CMakeLists.txt
Labels: rgw, build/ops, tests, common, CI

#15 rgw/sfs: Add basic user management via rest api.
  src/rgw/rgw_sal_sfs.cc
  src/rgw/store/sfs/bucket.cc
  src/rgw/store/sfs/bucket.h
  src/rgw/store/sfs/sfs_user.cc
  src/rgw/store/sfs/sqlite/sqlite_users.cc
  src/rgw/store/sfs/user.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
Labels: rgw, tests

#16 sfs: add a changelog
  src/rgw/store/sfs/CHANGELOG.md
Labels: documentation, rgw
