Repository aquarist-labs/ceph, pull requests merged in 2023-11, with the labels that each got.

#239 rgw/sfs: standardize log levels
  .clang-format
  doc/rados/troubleshooting/log-and-debug.rst
  src/common/subsys.h
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object.h
  src/rgw/driver/sfs/sfs_bucket.cc
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_gc.h
  src/rgw/driver/sfs/sfs_lc.cc
  src/rgw/driver/sfs/sfs_log.h
  src/rgw/driver/sfs/sfs_user.cc
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/user.cc
  src/rgw/driver/sfs/writer.cc
  src/rgw/driver/sfs/zone.cc
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
Labels: kind/enhancement, area/rgw-sfs, kind/quality

#236 rgw/sfs: init bucket mtime and store it
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/rgw/driver/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/driver/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/types.h
  src/rgw/rgw_sal_sfs.h
  src/test/rgw/sfs/test_rgw_sfs_concurrency.cc
  src/test/rgw/sfs/test_rgw_sfs_object_state_machine.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_wal_checkpoint.cc
Labels: kind/enhancement, area/rgw-sfs

#245 Rename database file to sfs.db
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_object_state_machine.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_user.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_lifecycle.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_users.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_wal_checkpoint.cc
Labels: kind/enhancement, area/rgw-sfs, priority/0

#251 github/workflows: adjust builds for new dockerfile
  .github/workflows/build-image-on-pr-label.yaml
  .github/workflows/test-s3gw.yml
Labels: kind/bug, area/CI

#244 rgw/sfs: refactor of SFSBucket::merge_and_store_attrs()
  src/rgw/driver/sfs/bucket.cc
Labels: area/rgw-sfs, kind/quality, priority/1

#252 rgw/sfs: upgrade existing db for bucket mtime
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
Labels: kind/bug, area/rgw-sfs

#253 rgw/sfs: upgrade existing db for bucket mtime col (backport to v0.23)
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
Labels: kind/bug, area/rgw-sfs

#255 rgw/sfs: ignore deleted buckets on list multipart
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
Labels: kind/bug, area/rgw-sfs, priority/0

#258 rgw/sfs: backports to v0.23
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
Labels: kind/bug, area/rgw-sfs

#259 cmake: use `nproc` if _num_cores is zero
  cmake/modules/LimitJobs.cmake
Labels: kind/enhancement, area/rgw-sfs
