Repository aquarist-labs/ceph, pull requests merged in 2023-10, with the labels that each got.

#220 rgw/sfs: Allow multiple delete markers
  src/rgw/driver/sfs/sqlite/sqlite_list.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_list.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/bug

#224 rgw/sfs: Add retry mechanism to read/write multipart transaction
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
Labels: kind/bug

#223 Copy Object: Reflink Support
  src/rgw/driver/sfs/object.cc
Labels: area/rgw-sfs

#221 CI: Switch to S3 Test Excuses File
  .github/workflows/test-s3gw.yml
  qa/rgw/store/sfs/tests/fixtures/s3tr_excuses.csv
Labels: area/CI

#228 Replace ceph_abort with ceph_abort_msg
  src/rgw/driver/sfs/multipart.cc
Labels: area/rgw-sfs

#225 Make MP mark_complete a write transaction
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
Labels: area/rgw-sfs

#152 rgw/sfs: update bucket stats
  qa/rgw/store/sfs/tests/fixtures/s3tr_excuses.csv
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.h
Labels: kind/enhancement, area/rgw-sfs

#231 ci: add manual trigger to test workflow
  .github/workflows/test-s3gw.yml
Labels: area/CI

#230 rgw/sfs: Don't return version id for unversioned buckets
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  qa/rgw/store/sfs/tests/fixtures/s3tr_excuses.csv
  qa/rgw/store/sfs/tests/test-sfs-multipart.py
  src/rgw/driver/sfs/types.cc
Labels: kind/bug, area/rgw-sfs

#232 rgw/sfs: Use sqlite3_status() in make_sqlite3_status_fn()
  src/rgw/rgw_sal_sfs.cc
Labels: kind/bug

#234 rgw/sfs: mark all OPEN versions DELETED on startup
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/rgw_sal_sfs.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/enhancement, area/rgw-sfs

#235 rgw/sfs: delete multiparts only on existing buckets
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
Labels: kind/bug, area/rgw-sfs
