Repository aquarist-labs/ceph, pull requests merged in 2023-07, with the labels that each got.

#148 ci: add labels to sfs/s3gw unit tests
  qa/rgw/store/sfs/build-radosgw.sh
  src/test/rgw/CMakeLists.txt
  src/test/rgw/sfs/CMakeLists.txt
Labels: kind/enhancement, area/tests, area/CI

#170 rgw/sfs: Fix error message wrong variable for cpp_strerror
  src/rgw/driver/sfs/writer.cc
Labels: area/rgw-sfs

#156 rgw/sfs: fix delete bucket when not empty
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
Labels: kind/bug

#166 rgw: Enable Admin Ops REST API to set user admin flag
  src/rgw/driver/rados/rgw_rest_user.cc
Labels: area/rgw-sfs

#174 rgw/sfs: drop unused variable
  src/rgw/driver/sfs/sqlite/bindings/real_time.h
Labels: area/rgw-sfs, kind/quality

#173 SQLite Layer Concurrency and Logging Improvements
  src/common/options/rgw.yaml.in
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/errors.cc
  src/rgw/driver/sfs/sqlite/errors.h
  src/rgw/driver/sfs/sqlite/retry.h
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/driver/sfs/writer.cc
  src/rgw/rgw_perf_counters.cc
  src/rgw/rgw_perf_counters.h
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_concurrency.cc
  src/test/rgw/sfs/test_rgw_sfs_retry.cc
Labels: area/rgw-sfs

#151 rgw/sfs: multipart v2
  .gitignore
  qa/rgw/store/sfs/tests/fixtures/s3tests.conf
  qa/rgw/store/sfs/tests/test-sfs-multipart.py
  src/include/types.h
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/fmt.h
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/multipart.h
  src/rgw/driver/sfs/multipart_types.h
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object.h
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_gc.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.cc
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_definitions.h
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/rgw/driver/sfs/uuid_path.h
  src/rgw/driver/sfs/writer.cc
  src/rgw/driver/sfs/writer.h
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_sal_sfs.h
Labels: kind/enhancement, area/rgw-sfs, kind/quality

#176 New (regular) List Implementation
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/object_state.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/objects/object_definitions.h
  src/rgw/driver/sfs/sqlite/sqlite_list.cc
  src/rgw/driver/sfs/sqlite/sqlite_list.h
  src/rgw/driver/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/driver/sfs/types.h
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/rgw_sfs_utils.h
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_list.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: area/rgw-sfs
