Repository aquarist-labs/ceph, pull requests merged in 2023-08, with the labels that each got.

#180 ci: build with system gtest
  qa/rgw/store/sfs/build-radosgw.sh
Labels: area/CI

#182 Default disable unused / unsupported APIs
  src/common/options/rgw.yaml.in
Labels: area/rgw-sfs

#184 List Versions
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/rgw/driver/sfs/sqlite/sqlite_buckets.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.h
  src/rgw/driver/sfs/sqlite/sqlite_list.cc
  src/rgw/driver/sfs/sqlite/sqlite_list.h
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_list.cc
Labels: area/rgw-sfs, kind/feature

#179 Add micro benchmark tests
  src/test/rgw/sfs/test_rgw_sfs_concurrency.cc
Labels: area/rgw-sfs, kind/quality

#185 Add unique index to object (bucket_id, name)
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/bug, kind/enhancement, area/rgw-sfs

#177 Mixed Bag of Quality and Testing Improvements
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object.h
  src/rgw/driver/sfs/sfs_bucket.cc
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_lc.h
  src/rgw/driver/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.cc
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/retry.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/rgw/driver/sfs/user.cc
  src/rgw/driver/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_object_state_machine.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: area/rgw-sfs, kind/quality

#189 Escape SQL LIKE
  src/rgw/driver/sfs/sqlite/conversion_utils.h
  src/rgw/driver/sfs/sqlite/sqlite_list.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_list.cc
Labels: area/rgw-sfs

#165 rgw/gc: New GC implementation after versioning redesign
  src/common/options/rgw.yaml.in
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_gc.h
  src/rgw/driver/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_definitions.h
  src/rgw/driver/sfs/sqlite/sqlite_buckets.cc
  src/rgw/driver/sfs/sqlite/sqlite_buckets.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/driver/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/enhancement, kind/feature

#187 File Extensions
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/multipart_types.h
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sqlite/buckets/multipart_definitions.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
Labels: area/rgw-sfs

#190 Conditional GETs
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object.h
Labels: area/rgw-sfs

#188 Multipart LC Expiration Support
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.cc
  src/rgw/driver/sfs/sqlite/buckets/multipart_definitions.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
  src/rgw/driver/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
Labels: area/rgw-sfs

#192 rgw/sfs: Add GC for done and aborted multiparts
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_gc.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
Labels: kind/bug

#193 rgw/sfs: Delete multipart db conversions layer
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/sqlite/bindings/blob.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.cc
  src/rgw/driver/sfs/sqlite/buckets/multipart_conversions.h
  src/rgw/driver/sfs/sqlite/buckets/multipart_definitions.h
  src/rgw/driver/sfs/sqlite/conversion_utils.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/sqlite_multipart.cc
  src/rgw/driver/sfs/sqlite/sqlite_multipart.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
Labels: kind/quality

#198 rgw/sfs: Delete markers on top
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.cc
  src/rgw/driver/sfs/sqlite/sqlite_versioned_objects.h
  src/rgw/driver/sfs/types.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/bug, kind/quality

#199 rgw/sfs: Add pedantic and other warnings
  src/rgw/driver/sfs/CMakeLists.txt
Labels: kind/quality
