Repository aquarist-labs/ceph, pull requests merged in 2023-03, with the labels that each got.

#125 Add combined sfs unit test target
  src/test/rgw/sfs/CMakeLists.txt
Labels: rgw, tests, build/ops

#111 Object lock object retention
  qa/rgw/store/sfs/tests/test-sfs-object-locking.py
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/writer.cc
Labels: area/rgw-sfs, kind/feature, rgw, documentation

#127 ci: build script respect CC and CXX
  qa/rgw/store/sfs/build-radosgw.sh
Labels: area/CI

#129 ci: avoid OOMing the worker node
  .github/workflows/build-test-radosgw.yml
Labels: area/CI, CI

#128 rgw/sfs: Object Lock - Legal holds
  qa/rgw/store/sfs/tests/test-sfs-object-locking.py
  src/rgw/driver/sfs/object.cc
Labels: kind/enhancement, area/rgw-sfs, area/tests, rgw

#132 ci: Make buildable out of git tree
  CMakeLists.txt
  qa/rgw/store/sfs/build-radosgw.sh
Labels: area/CI, build/ops

#122 rgw/sfs: Lifecycle initial implementation
  .github/workflows/build-test-radosgw.yml
  qa/rgw/store/sfs/tests/test-sfs-lifecycle-smoke.py
  src/rgw/driver/sfs/CMakeLists.txt
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/sfs_bucket.cc
  src/rgw/driver/sfs/sfs_lc.cc
  src/rgw/driver/sfs/sfs_lc.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/lifecycle/lifecycle_definitions.h
  src/rgw/driver/sfs/sqlite/sqlite_lifecycle.cc
  src/rgw/driver/sfs/sqlite/sqlite_lifecycle.h
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
  src/test/rgw/sfs/CMakeLists.txt
  src/test/rgw/sfs/test_rgw_sfs_sqlite_lifecycle.cc
Labels: area/rgw-sfs, kind/feature, rgw, tests, CI, build/ops

#124 Remove Object Copy Cache
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/sfs_gc.cc
  src/rgw/driver/sfs/sfs_gc.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/rgw/driver/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: rgw, tests, CI, documentation, build/ops, api-change, libcephsqlite, mon, mgr, pybind, common, cephadm, orchestrator, rook, bluestore, core, crimson, cephfs, rbd, ceph-volume, nfs, monitoring, telemetry

#135 Remove WRITING state
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object_state.h
  src/rgw/driver/sfs/writer.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: rgw, tests

#126 rgw/sfs: Add (unique) indices
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: kind/enhancement, area/rgw-sfs, area/tests, rgw, tests
