Repository aquarist-labs/ceph, pull requests merged in 2023-02, with the labels that each got.

#109 ci: enable -frecord-gcc-switches on debug builds
  CMakeLists.txt
  qa/rgw/store/sfs/build-radosgw.sh
Labels: build/ops

#100 rgw/sfs: drop upstream-specific github actions
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/milestone.yml
  .github/pull_request_template.md
Labels: CI

#113 ci: fix pr-triage workflow
  .github/workflows/pr-triage.yml
Labels: CI

#115 sfs: adapt tests to sqlite WAL mode
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/test/rgw/sfs/compatibility_test_cases/columns_added.h
  src/test/rgw/sfs/compatibility_test_cases/columns_deleted.h
  src/test/rgw/sfs/compatibility_test_cases/optional_columns_added.h
  src/test/rgw/sfs/test_rgw_sfs_gc.cc
Labels: area/rgw-sfs, area/tests, rgw, tests

#74 Reject data writes if statfs suggests fs close to full
  src/common/options/rgw.yaml.in
  src/rgw/driver/sfs/writer.cc
  src/rgw/rgw_sal_sfs.cc
  src/rgw/rgw_sal_sfs.h
Labels: area/rgw-sfs, kind/feature

#116 ci: use self-hosted runners for PR verification
  .github/workflows/build-test-radosgw.yml
  qa/rgw/store/sfs/tests/helpers.sh
Labels: CI

#120 rgw/sfs: fix condition variable in release builds
  src/rgw/rgw_sal_sfs.cc
Labels: area/rgw-sfs, rgw

#86 rgw/sfs: Object Lock - metadata changes
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/object.cc
  src/rgw/driver/sfs/object.h
  src/rgw/driver/sfs/sqlite/buckets/bucket_conversions.cc
  src/rgw/driver/sfs/sqlite/buckets/bucket_definitions.h
  src/rgw/driver/sfs/sqlite/conversion_utils.h
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/objects/object_conversions.cc
  src/rgw/driver/sfs/sqlite/objects/object_definitions.h
  src/rgw/driver/sfs/sqlite/versioned_object/versioned_object_conversions.cc
  src/rgw/driver/sfs/sqlite/versioned_object/versioned_object_definitions.h
  src/rgw/driver/sfs/types.cc
  src/rgw/driver/sfs/types.h
  src/rgw/driver/sfs/user.cc
  src/rgw/rgw_sal_sfs.h
  src/test/rgw/sfs/compatibility_test_cases/columns_added.h
  src/test/rgw/sfs/compatibility_test_cases/columns_deleted.h
  src/test/rgw/sfs/compatibility_test_cases/optional_columns_added.h
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_buckets.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_objects.cc
  src/test/rgw/sfs/test_rgw_sfs_sqlite_versioned_objects.cc
Labels: area/rgw-sfs, kind/feature, rgw, tests

#108 ci: rework build script
  qa/rgw/store/sfs/build-radosgw.sh
Labels: area/CI

#121 Add basic pre-commit checks + fixes
  .codespell-ignore
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/rgw/driver/sfs/CHANGELOG.md
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/multipart.cc
  src/rgw/driver/sfs/multipart.h
  src/rgw/driver/sfs/sqlite/dbconn.cc
  src/rgw/driver/sfs/sqlite/users/users_definitions.h
  src/rgw/driver/sfs/types.h
  src/rgw/driver/sfs/user.cc
  src/rgw/driver/sfs/writer.cc
  src/rgw/rgw_sal_sfs.cc
Labels: kind/feature, kind/quality, area/CI, rgw, CI, documentation

#110 ci: run s3tests
  .github/workflows/build-test-radosgw.yml
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
  qa/rgw/store/sfs/tests/fixtures/s3tests.conf
Labels: area/tests, area/CI, CI

#118 rgw/sfs: fix db schema typo
  src/rgw/driver/sfs/sqlite/dbconn.h
  src/rgw/driver/sfs/sqlite/sqlite_schema.h
  src/rgw/driver/sfs/sqlite/users/users_conversions.cc
  src/rgw/driver/sfs/sqlite/users/users_definitions.h
  src/test/rgw/sfs/compatibility_test_cases/columns_added.h
  src/test/rgw/sfs/compatibility_test_cases/columns_deleted.h
  src/test/rgw/sfs/compatibility_test_cases/optional_columns_added.h
Labels: area/rgw-sfs, kind/quality

#123 ci: s3tests fail on regression
  .github/workflows/build-test-radosgw.yml
  qa/rgw/store/sfs/tests/fixtures/s3-tests.txt
Labels: area/tests, area/CI, CI
