Repository aquarist-labs/ceph, pull requests merged in 2023-01, with the labels that each got.

#82 rgw/sfs: Added prefix support when listing objects
  qa/rgw/store/sfs/tests/test-sfs-list-objects.py
  qa/rgw/store/sfs/tests/test-sfs-versioning-smoke.py
  src/rgw/store/sfs/CHANGELOG.md
  src/rgw/store/sfs/bucket.cc
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
Labels: kind/enhancement, rgw, tests, documentation

#83 build: fix git version parsing in cmake
  src/CMakeLists.txt
Labels: build/ops

#85 rgw: fix order of initialization and use in SFSGC
  src/rgw/rgw_sal_sfs.cc
  src/rgw/store/sfs/sfs_gc.cc
  src/rgw/store/sfs/sfs_gc.h
Labels: rgw

#87 rgw/sfs: register sfs admin apis
  src/rgw/rgw_sal_sfs.cc
Labels: rgw

#107 rgw/sfs: Add delimiter support when listing objects
  qa/rgw/store/sfs/tests/sfs-smoke-test.sh
  qa/rgw/store/sfs/tests/test-sfs-list-objects.py
  src/rgw/driver/sfs/CHANGELOG.md
  src/rgw/driver/sfs/bucket.cc
  src/rgw/driver/sfs/bucket.h
  src/test/rgw/sfs/test_rgw_sfs_sfs_bucket.cc
Labels: rgw, tests, documentation
